.sixth/
netilify/
_headers
_redirects
mysave.json
.vscode
.gitattributes
node_modules

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
.env*
!.env.example
my_room.json
my_room.dxroom
theatre.json
theatre.dxroom